
 
 
#h1{
    font-size: 48px;
    color: aqua;
    background-color: black;
    text-align: center;
}     

body{
    background-color:aqua;
 background-image:url(support.jpg);
 min-height: 100%;
    position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    
}
.navigation{
        color:rgb(249, 252, 252);
        background-color: rgb(255, 252, 252);
        list-style-type: none;
        padding: 5px;
        display: flex;
        gap: 20px;
        font-size:x-large;
        text-decoration: none;
}
header{
    background-color: black;
}
.navigation a:hover {
    background-color:rgb(180, 255, 88);
    text-decoration: underline;
  }
  a:link {
    text-decoration: none;
    }
    
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    a:active {
    text-decoration: underline;
    }
