body{
    margin: 0;
  background-color:rgb(255,241,245);
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: black;
}



.logo_container img{
    padding-top: 0;
    width: 20vw;
    height: 20vw;
}

.logo_container{
    display: flex;

}
.name{
    font-size: 7vw;
    display: flex;
    justify-content: center;
    padding-left: 0vw;
    padding-top: 1vw;
    font-family: 'Croissant One', cursive;

}

nav{
    display: flex;

}
.elements{
    color: white;
}

.elements ul{
    display: flex;
    gap: 5vw;
    list-style-type: none;
    align-items: center;
    padding-left: 20vw;
    padding-top: 1vw;
    padding-right: 20vw;
    font-size: 1.5vw;
    color: black;

}
 a:link{
    text-decoration: none;
}

.pimg1{
    background-image: url(bg01.jpg);
    min-height: 80vw;
    padding-top: 10vw;
    position: relative;
    align-items: center;
    justify-content: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .pimg2{
        background-image: url(bg02.jpg);
        min-height: 80vw;
        position: relative;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

.pimg3{
        background-image: url(bg03.jpg);
        min-height: 80vw;
        position: relative;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }
    .pimg4{
        background-image: url(bg04.jpg);
        min-height: 80vw;
        position: relative;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }


    .ptext{
        padding-top: 20vw;
        position: absolute;
        text-align: center;
        color: black;
        }

    .textBg{
         color: black;
        text-align: center;
        font-size: 2vw;
     }

     .section{
        padding: 5vw 8vw;
     }

     
     .section_light h2{
        font-size: 2vw;
        text-align: center;
     }

     footer {
        text-align: center;
        background-color: #333;
        color: #fff;
        padding: 1vw 0;
    }
    @media (max-width: 768px) {
    
        .elements ul {
            padding-left: 10%;
            padding-right: 10%;
        }
    
        .section {
            padding: 30px;
        }
    }
    
    @media (max-width: 480px) {
    
        .elements ul {
            padding-left: 5%;
            padding-right: 5%;
        }
    
    }



    


