
*{
   margin: 0;
   padding: 0;
}
h1{
    font-size: 3.5vw;
    text-align: center;
}

nav {
    background-color: black;
    overflow: hidden;
    text-align: center;

}

nav a {
    font-size: 1.5vw;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: left;
    color: white;
}
a:link {
    text-decoration: none;
    }
    
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }
    
    a:active {
    text-decoration: underline;
    }
    body{
        background-color:cornsilk ;
    }
     a {
        display: block;
        color: rgb(0, 0, 0);
        text-align:left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: xx-large;
      }
      footer {
        background-color: #333;
        overflow: hidden;
    }
    header{
        position: relative;
        background-color: black;
        color: aliceblue;
        padding: 20px;
    }
    #sec{
        position: relative;
    }
#sec>a{
    display: flex;
    align-items: center;
    z-index: 999;
    padding-left: 60%;
}   
#sec>a>h3{
    font-size: 1.5vw;
    padding-left: 2vw;
} 
#sec>img{
    width: 30vw;
    height: 30vw;
    padding-top: 4vw;
    padding-left: 10%;
    position: absolute;
}
#sec>a>img{
    width: 10vw;
    height: 10vw;
}
#sec>h2{
    font-size: 5vw;
    position: absolute;
    padding-top: 40vw;
    padding-left: 5%;
}
footer{
    position: relative;
}
footer>a>h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    z-index: 999;
}
footer>a{
    color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 5vw;
    }

    nav a {
        padding: 10px;
    }
    #sec>a>h3{
        font-size: 2vw;
    }
    #sec>img{
        padding-top: 10vw;
        width: 30vw;
        height: 30vw;
    }
    #sec>h2{
        padding-top: 45vw;
        font-size: 5vw;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 5vw;
    }

    nav a {
        padding: 10px;
    }
    #sec>a>h3{
        font-size: 2vw;
    }
}
