
body{
    background-image: url(background01.jpg);
    min-height: 100%;
    position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }


h1{
    text-align:center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

ul{
    display: flex;
    padding: 20px;
    margin: 10px;
    
    
}
 ul button{
    padding: 30px;
    margin: 100px;
    border-width: 10px;
    
}
a:link{
    text-decoration: none;
}

button #depression{
    padding: 100px;
    background-color: rgb(99, 114, 194);
}

button:hover{
    transition: 1s ease-in-out;
}
#h{
    padding-top: 5vw;
    padding-bottom: 0vw;
}
#home{
    padding-bottom: 5%;
    padding-left: 5%;
    font-size: 2vw;
    color: black;
}
footer {
    font-size: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}
